@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --yellow: #FBFFDC;

  --light-green: #EAF5ED;
  --green-100: #cffcdf;
  --green-200: #a3f7c4;
  --green-300: #68eda6;
  --green-400: #2cdb83;
  --green-500: #08c16b;
  --green-600: #009d57;
  --green-700: #007e48;
  --green-800: #02633b;
  --green-900: #035132;
  --green-950: #004028;

  --white: #FFFFFF;
  --background-color: var(--white);
  --text-color: var(--green-950);
}

body.dark-mode {
  --background-color: var(--green-950);


  & section {
    border-left: 6px outset var(--green-200);
    border-bottom: 6px outset var(--green-200);

  }

  & section, button {
    background-color: var(--green-800);
  }
 
  & h2 {
    color: var(--light-green)
  }

  & input, textarea, select, .checkbox {
    border: none;
    border: 1px solid var(--green-600);
    background: var(--green-200);
    border-radius: 8px;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--green-950)

    /* width: calc(100% - 16px); */
  }
  & input:focus {
    outline: none !important;
    border: 1px solid var(--green-500);
  }

  & button, .checkbox {
    color: var(--yellow);
  
    background-color: var(--green-700);

    &:hover {
      background-color: var(--green-600);
      border-left: 2px solid var(--green-200);
    
    border-bottom: 2px solid var(--green-200);
    }
  }

  & p, label {
    color: var(--light-green);
  }

  .card {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: var(--green-200);

  }
  
 
  .header {
    padding: 1.25rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--green-500);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
  }
  
  .image svg {
    color: var(--green-200);
    width: 2rem;
    height: 2rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.75rem 1rem;
  }
  
  .history {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .track {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
  }


  
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  padding: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s ease, color 0.3s ease;


  & section {
    background-color: var(--light-green);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px 24px;
    min-width: 28em;
    width: auto;
    height: auto;
    border-left: 6px outset var(--green-950);
    border-bottom: 6px outset var(--green-900);

  }

  & section>div {
    flex: 1;
  }

  & div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .row {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  & h1 {
    text-align: center;
    margin: 24px 0 16px;
  }

  & p {
    text-align: center;
    margin: 0;
  }

  & input, textarea, select {
    border: none;
    border: 1px solid var(--green-900);
    border-radius: 8px;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* width: calc(100% - 16px); */
  }
  & input:focus {
    outline: none !important;
    border: 1px solid var(--green-950);
  }
   
  & button {
    align-self: auto;
    background-color: var(--yellow);
    color: var(--green-950);
    cursor: pointer;
    border: 1px solid var(--green-950);
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px 16px;
    transition: border 0.1s ease;
    &:hover {
      border-left: 2px solid var(--green-950);
      border-bottom: 2px solid var(--green-950);
    }

    /* & textarea {
      background-color: var(--yellow);

    } */
  } 

  .card {
    overflow: hidden;
    position: relative;
    text-align: left;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
  }
  
  .dismiss {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: black;
    border: 2px solid #D1D5DB;
    font-size: 1rem;
    font-weight: 300;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s ease;
  }
  
  .dismiss:hover {
    background-color: #ee0d0d;
    border: 2px solid #ee0d0d;
    color: #fff;
  }
  
  .header {
    padding: 1.25rem 1rem 1rem 1rem;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2feee;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
  }
  
  .image svg {
    color: #0afa2a;
    width: 2rem;
    height: 2rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #066e29;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.75rem 1rem;
  }
  
  .history {
    display: inline-flex;
    padding: 0.5rem 1rem;
    background-color: #1aa06d;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .track {
    display: inline-flex;
    margin-top: 0.75rem;
    padding: 0.5rem 1rem;
    color: #242525;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
  }

  
}